@import "tailwindcss";

:root {
  --background: #0b0d10;
  --foreground: #e6e8ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0d10;
    --foreground: #e6e8ec;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}
